main{
  min-height: 80vh ;
}

/* Path: client/src/components/Navbar.js */
/* .navbar{
  background-color: #1b1b1b;
} */

h3{
  padding: 1rem 0;
}  

h1{
  font-size: 1.8rem;
  padding: 1rem;
}
h2{
  font-size: 1.4rem;
  padding: 0.5rem;
}

/* Path: client/src/components/Post.js */
/* .post{
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
} */
.rating span{
  margin: 0.1rem;
}